<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
    </head>
    <body>
        <p><%= error %></p>
        <form action="/register" method="post">
            <label for="user">User Name:</label><br />
            <input type="text" name="username" id="user" autofocus /><br />
            <label for="user">Password:</label><br />
            <input type="password" name="password" /><br />
            <br />
            <br />
            <label for="bodyStyle">Body Style</label><br />
            <select name="bodyStyle" id="bodyStyle" size="2">
                <option value="1" selected>Male</option>
                <option value="2">Female</option>
            </select>
            <br />
            <label for="bodyColor">Body Color</label><br />
            <select name="bodyColor" id="bodyColor" size="7">
                <option value="1" selected>Light</option>
                <option value="2">Amber</option>
                <option value="3">Olive</option>
                <option value="4">Taupe</option>
                <option value="5">Bronze</option>
                <option value="6">Brown</option>
                <option value="7">Black</option>
            </select>
            <br />
            <label for="noseStyle">Nose Style</label><br />
            <select name="noseStyle" id="noseStyle" size="5">
                <option value="0" selected>No nose</option>
                <option value="1">Big nose</option>
                <option value="2">Button nose</option>
                <option value="3">Straight nose</option>
                <option value="4">Elderly nose</option>
            </select>
            <br />
            <label for="earStyle">Ear Style</label><br />
            <select name="earStyle" id="earStyle" size="4">
                <option value="0" selected>Default ears</option>
                <option value="1">Big ears</option>
                <option value="2">Elven ears</option>
                <option value="3">Long ears</option>
            </select>
            <br />
            <label for="eyeColor">Eye Color</label><br />
            <select name="eyeColor" id="eyeColor" size="4">
                <option value="0" selected>Default</option>
                <option value="1">Blue</option>
                <option value="2">Brown</option>
                <option value="3">Gray</option>
                <option value="4">Green</option>
                <option value="5">Orange</option>
                <option value="6">Purple</option>
                <option value="7">Red</option>
                <option value="7">Yellow</option>
            </select>
            <br />
            <label for="wrinklesStyle">Wrinkles</label><br />
            <select name="wrinklesStyle" id="wrinklesStyle" size="2">
                <option value="0" selected>No wrinkles</option>
                <option value="1">Wrinkles</option>
            </select>
            <br />
            <label for="hairStyle">Hair Style</label>
            <br />
            <select name="hairStyle" id="hairStyle" size="8">
                <option value="0" selected>No Hair</option>
                <option value="1">Afro</option>
                <option value="2">Natural</option>
                <option value="3">Dreadlocks short</option>
                <option value="4">Twists fade</option>
                <option value="5">Twists straight</option>
                <option value="6">Dreadlocks long</option>
                <option value="7">Flat top straight</option>
                <option value="8">Flat top fade</option>
                <option value="9">Cornrows</option>
                <option value="10">Jewfro</option>
                <option value="11">Curly short</option>
                <option value="12">Curly long</option>
                <option value="13">Balding</option>
                <option value="14">Longhawk</option>
                <option value="15">Shorthawk</option>
                <option value="16">High and tight</option>
                <option value="17">Buzzcut</option>
                <option value="18">Plain</option>
                <option value="19">Pixie</option>
                <option value="20">Page</option>
                <option value="21">Idol</option>
                <option value="22">Mop</option>
                <option value="23">Parted</option>
                <option value="24">Part2</option>
                <option value="25">Messy2</option>
                <option value="26">Messy3</option>
                <option value="27">Messy1</option>
                <option value="28">Bedhead</option>
                <option value="29">Unkempt</option>
                <option value="30">Bangsshort</option>
                <option value="31">Swoop</option>
                <option value="32">Curtains</option>
                <option value="33">Page2</option>
                <option value="34">Bangs</option>
                <option value="35">Single</option>
                <option value="36">Cowlick</option>
                <option value="37">Cowlick tall</option>
                <option value="38">Spiked porcupine</option>
                <option value="39">Spiked liberty2</option>
                <option value="40">Spiked liberty</option>
                <option value="41">Spiked beehive</option>
                <option value="42">Spiked</option>
                <option value="43">Spiked2</option>
                <option value="44">Halfmessy</option>
                <option value="45">Bunches</option>
                <option value="46">Pigtails</option>
                <option value="47">Pigtails bangs</option>
                <option value="48">Bob</option>
                <option value="49">Lob</option>
                <option value="50">Bob side part</option>
                <option value="51">Half up</option>
                <option value="52">Bangs bun</option>
                <option value="53">Shortknot</option>
                <option value="54">Longknot</option>
                <option value="55">Ponytail</option>
                <option value="56">Ponytail2</option>
                <option value="57">High ponytail</option>
                <option value="58">Braid</option>
                <option value="59">Braid2</option>
                <option value="60">Shoulderl</option>
                <option value="61">Shoulderr</option>
                <option value="62">Long tied</option>
                <option value="63">Loose</option>
                <option value="64">Bangslong</option>
                <option value="65">Bangslong2</option>
                <option value="66">Long</option>
                <option value="67">Long messy</option>
                <option value="68">Long messy2</option>
                <option value="69">Curtains long</option>
                <option value="70">Wavy</option>
                <option value="71">Long center part</option>
                <option value="72">Princess</option>
                <option value="73">Sara</option>
                <option value="74">Long band</option>
                <option value="75">Xlong</option>
            </select>
            <br />
            <label for="hairColor">Hair Color</label><br />
            <select name="hairColor" id="hairColor" size="4">
                <option value="1" selected>blonde</option>
                <option value="2">ash</option>
                <option value="3">sandy</option>
                <option value="4">platinum</option>
                <option value="5">strawberry</option>
                <option value="6">redhead</option>
                <option value="7">ginger</option>
                <option value="8">carrot</option>
                <option value="9">chestnut</option>
                <option value="10">light brown</option>
                <option value="11">dark brown</option>
                <option value="12">black</option>
                <option value="13">raven</option>
                <option value="14">dark gray</option>
                <option value="15">gray</option>
                <option value="16">white</option>
                <option value="17">red</option>
                <option value="18">orange</option>
                <option value="19">gold</option>
                <option value="20">green</option>
                <option value="21">blue</option>
                <option value="22">navy</option>
                <option value="23">violet</option>
                <option value="24">purple</option>
                <option value="25">pink</option>
                <option value="26">rose</option>
            </select>
            <br />
            <label for="beardStyle">Beard Style</label><br />
            <select name="beardStyle" id="beardStyle" size="4">
                <option value="0" selected>No Beard</option>
                <option value="1">Beard</option>
                <option value="2">Bigstache</option>
                <option value="3">Mustache</option>
                <option value="4">Winter</option>
            </select>
            <br />
            <label for="beardColor">Beard Color</label><br />
            <select name="beardColor" id="beardColor" size="4">
                <option value="1" selected>blonde</option>
                <option value="2">ash</option>
                <option value="3">sandy</option>
                <option value="4">platinum</option>
                <option value="5">strawberry</option>
                <option value="6">redhead</option>
                <option value="7">ginger</option>
                <option value="8">carrot</option>
                <option value="9">chestnut</option>
                <option value="10">light brown</option>
                <option value="11">dark brown</option>
                <option value="12">black</option>
                <option value="13">raven</option>
                <option value="14">dark gray</option>
                <option value="15">gray</option>
                <option value="16">white</option>
                <option value="17">red</option>
                <option value="18">orange</option>
                <option value="19">gold</option>
                <option value="20">green</option>
                <option value="21">blue</option>
                <option value="22">navy</option>
                <option value="23">violet</option>
                <option value="24">purple</option>
                <option value="25">pink</option>
                <option value="26">rose</option>
            </select>
            <br />
            <button type="submit">Register</button>
        </form>
    </body>
</html>